<?xml version="1.0"?>

<config>
    <modules>
        <Elite_Vaftest>
            <version>1.19</version>
        </Elite_Vaftest>
    </modules>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <frontName><![CDATA[admin]]></frontName>
                    
                    <modules>
                      <Elite_Vaftest_Admin before="-">Elite_Vaftest_Admin</Elite_Vaftest_Admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
     </admin>
     
</config>
