<?xml version="1.0"?>

<config>
    <modules>
        <Elite_Vaflogo>
            <version>v2-build44</version>
        </Elite_Vaflogo>
    </modules>
    <global>

        <blocks>
            <vaflogo>
                <class>Elite_Vaflogo_Block</class>
            </vaflogo>
        </blocks>
    </global>
</config>