<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="true"
        syntaxCheck="false"
        bootstrap="Vaf/bootstrap-tests.php">

    <php>
        <env name="PHP_TEMP_PATH" value="/tmp"/>
        <env name="PHP_VAF_DB_USERNAME" value="root"/>
        <env name="PHP_VAF_DB_PASSWORD" value=""/>
        <env name="PHP_VAF_DB_NAME" value="magento"/>
    </php>

    <testsuites>
        <testsuite name="vfall">
            <directory>Vaf*/</directory>
    	    <directory>../../../../app/design/frontend/template/vf/</directory>
            <directory>../../../../vf-documentation</directory>
            <exclude>performanceTests/*</exclude>
        </testsuite>
        <testsuite name="vfmage">
            <directory>Vaf*/</directory>
            <directory>../../../../app/design/frontend/template/vf/</directory>
            <exclude>performanceTests/*</exclude>
        </testsuite>
        <testsuite name="vfdocs">
            <directory>../../../../vf-documentation</directory>
        </testsuite>
        <testsuite name="vfperformance">
            <directory>performanceTests*/</directory>
        </testsuite>
    </testsuites>

</phpunit>
