<?xml version="1.0"?>

<config>
    <modules>
        <Elite_Vaflinks>
            <version>1.35</version>
        </Elite_Vaflinks>
    </modules>
    <global>

        <blocks>
            <vaflinks>
                <class>Elite_Vaflinks_Block</class>
            </vaflinks> 
        </blocks>
      
     </global>
     
     <frontend>
        <routers>
            <vaflinks>
                <use>standard</use>
                <args>
                    <module>Elite_Vaflinks</module>
                    <frontName>vaflinks</frontName>
                </args>
            </vaflinks>
        </routers>
        <layout>
            <updates>
                <Elite_Vaflinks>
                    <file>vaflinks.xml</file>
                </Elite_Vaflinks>
            </updates>
        </layout>
     </frontend>
     
</config>
